---
const { title } = Astro.props;
---

<header class="header font-title">
  <a href="/" class="back">
    {"< Volver"}
  </a>
  <h1>{title}</h1>
</header>
<style>
  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-amber-200);
    text-shadow: 0 0 4px var(--color-black);  
    z-index: 10;
    width: 100%;
    padding: 0 5%;
    background: linear-gradient(180deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0));
    & > .back {
      color: currentColor;
      font-size: 1.5rem;
      transition: color 0.3s ease;
      &:hover {
        color: var(--color-amber-200);
      }
    }
    

    @media (max-width: 768px) {
      & > .back {
        font-size: 1.2rem;
      }
      & h1 {
        font-size: 1.5rem;
      }
    }
  }
</style>
